<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,
		shrink-to-fit=no">
		<link rel="stylesheet" href="
		https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<title></title>
	</head>
	
	<body>
	
	<div class='container'>
	
	<h1>Gerbil Genetic Calculator</h1>
	<hr>
	<form method='post' action='/'>
	
	<div class='form-group row'>
	<h2>Father's genotype</h2>
	</div>
	
	<div class='form-group row'>
		<div class='col-sm-6'>
				<!-- Father's Gene A --> 
				<select name="FA1">
				  <option value="A">A</option>
				  <option value="a">a</option>
				</select>
				<select name="FA2">
				  <option value="A">A</option>
				  <option value="a">a</option>
				</select>
				
				<!-- Father's Gene C --> 
				<select name="FC1">
				  <option value="C">C</option>
				  <option value="cb">cb</option>
				  <option value="ch">ch</option>
				</select>
				<select name="FC2">
				  <option value="C">C</option>
				  <option value="cb">cb</option>
				  <option value="ch">ch</option>
				</select>
		
				<!-- Father's Gene D --> 
				<select name="FD1">
				  <option value="D">D</option>
				  <option value="d">d</option>
				</select>
				<select name="FD2">
				  <option value="D">D</option>
				  <option value="d">d</option>
				</select>
				
				<!-- Father's Gene E --> 
				<select name="FE1">
				  <option value="E">E</option>
				  <option value="e">e</option>
				  <option value="ef">ef</option>
				</select>
				<select name="FE2">
				  <option value="E">E</option>
				  <option value="e">e</option>
				  <option value="ef">ef</option>
				</select>
				
				<!-- Father's Gene G --> 
				<select name="FG1">
				  <option value="G">G</option>
				  <option value="g">g</option>
				</select>
				<select name="FG2">
				  <option value="G">G</option>
				  <option value="g">g</option>
				</select>
				
								
				<!-- Father's Gene P --> 
				<select name="FP1">
				  <option value="P">P</option>
				  <option value="p">p</option>
				</select>
				<select name="FP2">
				  <option value="P">P</option>
				  <option value="p">p</option>
				</select>		
		</div>
	</div>	
	
		<div class='form-group row'>
	<h2>Mother's genotype</h2>
	</div>
	
	<div class='form-group row'>
		<div class='col-sm-6'>
				<!-- Mother's Gene A --> 
				<select name="MA1">
				  <option value="A">A</option>
				  <option value="a">a</option>
				</select>
				<select name="MA2">
				  <option value="A">A</option>
				  <option value="a">a</option>
				</select>
				
				<!-- Mother's Gene C --> 
				<select name="MC1">
				  <option value="C">C</option>
				  <option value="cb">cb</option>
				  <option value="ch">ch</option>
				</select>
				<select name="MC2">
				  <option value="C">C</option>
				  <option value="cb">cb</option>
				  <option value="ch">ch</option>
				</select>
		
				<!-- Mother's Gene D --> 
				<select name="MD1">
				  <option value="D">D</option>
				  <option value="d">d</option>
				</select>
				<select name="MD2">
				  <option value="D">D</option>
				  <option value="d">d</option>
				</select>
				
				<!-- Mother's Gene E --> 
				<select name="ME1">
				  <option value="E">E</option>
				  <option value="e">e</option>
				  <option value="ef">ef</option>
				</select>
				<select name="ME2">
				  <option value="E">E</option>
				  <option value="e">e</option>
				  <option value="ef">ef</option>
				</select>
				
				<!-- Mother's Gene G --> 
				<select name="MG1">
				  <option value="G">G</option>
				  <option value="g">g</option>
				</select>
				<select name="MG2">
				  <option value="G">G</option>
				  <option value="g">g</option>
				</select>
				
								
				<!-- Mother's Gene P --> 
				<select name="MP1">
				  <option value="P">P</option>
				  <option value="p">p</option>
				</select>
				<select name="MP2">
				  <option value="P">P</option>
				  <option value="p">p</option>
				</select>		
		</div>
	</div>

	
	<div class='form-group row'>
		<div class='col-sm-6'>
			<button type='submit' class='btn btn-primary'>Calculate offsprings gentoypes
			</button>
		</div>
	</div>
	
	
	
	</div>
	
	</body>
	
</html>